src/avr-toolchain/4.8.1/avr/include/* linguist-vendored
src/avr-toolchain/4.8.1/avr/include/avr/* linguist-vendored
src/avr-toolchain/4.8.1/avr/include/compat/* linguist-vendored
src/avr-toolchain/4.8.1/avr/include/util/* linguist-vendored
src/avr-toolchain/4.8.1/include/* linguist-vendored
src/avr-toolchain/4.8.1/include/libusb-1.0/* linguist-vendored
src/avr-toolchain/4.8.1/lib/gcc/avr/4.8.1/include/* linguist-vendored
src/avr-toolchain/4.8.1/lib/gcc/avr/4.8.1/include-fixed/* linguist-vendored
src/avr-toolchain/4.8.1/lib/gcc/avr/4.8.1/install-tools/* linguist-vendored
src/avr-toolchain/4.8.1/lib/gcc/avr/4.8.1/install-tools/include/* linguist-vendored
src/avr-toolchain/4.8.1/lib/gcc/avr/4.8.1/plugin/include/* linguist-vendored
src/avr-toolchain/4.8.1/lib/gcc/avr/4.8.1/plugin/include/c-family/* linguist-vendored
src/avr-toolchain/4.8.1/lib/gcc/avr/4.8.1/plugin/include/config/* linguist-vendored
src/avr-toolchain/4.8.1/lib/gcc/avr/4.8.1/plugin/include/config/avr/* linguist-vendored
src/avr-toolchain/4.8.1/lib/gcc/avr/4.8.1/plugin/include/cp/* linguist-vendored
src/avr-toolchain/4.8.1/x86_64-unknown-linux-gnu/avr/include/* linguist-vendored
src/avr-toolchain/4.9.2/avr/include/* linguist-vendored
src/avr-toolchain/4.9.2/avr/include/avr/* linguist-vendored
src/avr-toolchain/4.9.2/avr/include/compat/* linguist-vendored
src/avr-toolchain/4.9.2/avr/include/sys/* linguist-vendored
src/avr-toolchain/4.9.2/avr/include/util/* linguist-vendored
src/avr-toolchain/4.9.2/include/* linguist-vendored
src/avr-toolchain/4.9.2/include/gdb/* linguist-vendored
src/avr-toolchain/4.9.2/include/libelf/* linguist-vendored
src/avr-toolchain/4.9.2/include/libiberty/* linguist-vendored
src/avr-toolchain/4.9.2/include/libusb-1.0/* linguist-vendored
src/avr-toolchain/4.9.2/lib/gcc/avr/4.9.2/include/* linguist-vendored
src/avr-toolchain/4.9.2/lib/gcc/avr/4.9.2/include-fixed/* linguist-vendored
src/avr-toolchain/4.9.2/lib/gcc/avr/4.9.2/install-tools/* linguist-vendored
src/avr-toolchain/4.9.2/lib/gcc/avr/4.9.2/install-tools/include/* linguist-vendored
src/avr-toolchain/4.9.2/lib/gcc/avr/4.9.2/plugin/include/* linguist-vendored
src/avr-toolchain/4.9.2/lib/gcc/avr/4.9.2/plugin/include/c-family/* linguist-vendored
src/avr-toolchain/4.9.2/lib/gcc/avr/4.9.2/plugin/include/config/* linguist-vendored
src/avr-toolchain/4.9.2/lib/gcc/avr/4.9.2/plugin/include/config/avr/* linguist-vendored
src/avr-toolchain/4.9.2/lib/gcc/avr/4.9.2/plugin/include/cp/* linguist-vendored
src/avr-toolchain/4.9.2/x86_64-pc-linux-gnu/avr/include/* linguist-vendored
src/avr-toolchain/5.4.0/avr/include/* linguist-vendored
src/avr-toolchain/5.4.0/avr/include/avr/* linguist-vendored
src/avr-toolchain/5.4.0/avr/include/compat/* linguist-vendored
src/avr-toolchain/5.4.0/avr/include/sys/* linguist-vendored
src/avr-toolchain/5.4.0/avr/include/util/* linguist-vendored
src/avr-toolchain/5.4.0/include/gdb/* linguist-vendored
src/avr-toolchain/5.4.0/include/libiberty/* linguist-vendored
src/avr-toolchain/5.4.0/lib/gcc/avr/5.4.0/include/* linguist-vendored
src/avr-toolchain/5.4.0/lib/gcc/avr/5.4.0/include-fixed/* linguist-vendored
src/avr-toolchain/5.4.0/lib/gcc/avr/5.4.0/install-tools/* linguist-vendored
src/avr-toolchain/5.4.0/lib/gcc/avr/5.4.0/install-tools/include/* linguist-vendored
src/avr-toolchain/5.4.0/lib/gcc/avr/5.4.0/plugin/include/* linguist-vendored
src/avr-toolchain/5.4.0/lib/gcc/avr/5.4.0/plugin/include/c-family/* linguist-vendored
src/avr-toolchain/5.4.0/lib/gcc/avr/5.4.0/plugin/include/config/* linguist-vendored
src/avr-toolchain/5.4.0/lib/gcc/avr/5.4.0/plugin/include/config/avr/* linguist-vendored
src/avr-toolchain/5.4.0/lib/gcc/avr/5.4.0/plugin/include/cp/* linguist-vendored
src/avr-toolchain/5.4.0/x86_64-pc-linux-gnu/avr/include/* linguist-vendored
src/avr-toolchain/7.4.0/avr/include/* linguist-vendored
src/avr-toolchain/7.4.0/avr/include/avr/* linguist-vendored
src/avr-toolchain/7.4.0/avr/include/compat/* linguist-vendored
src/avr-toolchain/7.4.0/avr/include/sys/* linguist-vendored
src/avr-toolchain/7.4.0/avr/include/util/* linguist-vendored
src/avr-toolchain/7.4.0/include/libiberty/* linguist-vendored
src/avr-toolchain/7.4.0/lib/gcc/avr/7.3.0/include/* linguist-vendored
src/avr-toolchain/7.4.0/lib/gcc/avr/7.3.0/include-fixed/* linguist-vendored
src/avr-toolchain/7.4.0/lib/gcc/avr/7.3.0/install-tools/* linguist-vendored
src/avr-toolchain/7.4.0/lib/gcc/avr/7.3.0/install-tools/include/* linguist-vendored
src/avr-toolchain/7.4.0/lib/gcc/avr/7.3.0/plugin/include/* linguist-vendored
src/avr-toolchain/7.4.0/lib/gcc/avr/7.3.0/plugin/include/c-family/* linguist-vendored
src/avr-toolchain/7.4.0/lib/gcc/avr/7.3.0/plugin/include/config/* linguist-vendored
src/avr-toolchain/7.4.0/lib/gcc/avr/7.3.0/plugin/include/config/avr/* linguist-vendored
src/avr-toolchain/7.4.0/lib/gcc/avr/7.3.0/plugin/include/cp/* linguist-vendored
src/avr-toolchain/7.4.0/x86_64-pc-linux-gnu/avr/include/* linguist-vendored
src/*.c linguist-language=C
src/*.h linguist-language=C
